<!DOCTYPE html>
<html lang="en">
  <head>
    <title>403: Forbidden</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>403: Forbidden</h1>
    <% if (typeof error !== 'undefined') { %>
      <p><%= error %></p>
    <% } else { %>
      <p>You don't have permission to see the page you're trying to reach.</p>
    <% } %>
  </body>
</html>
